/*-- GLOBAL DESKTOP RULES --*/
:root {
    /* Add variable for theme */
    --dark-theme-header-color: #5A3737;
    --dark-theme-background-color: #181818;
    --dark-theme-text-color: #F3F3F3;
    --light-theme-header-color: #4894d3;
    --light-theme-background-color: #F3F3F3;
    --light-theme-text-color: #181818;
    /* Default to dark mode */
    background: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
}

header {
    background: var(--dark-theme-background-color);
}

body {
    background: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: var(--dark-theme-text-color);
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 20px;
    color: #939393;
}

#header-icon {
    width: 0px;
    height: auto;
}

/*-- HEADER STYLING --*/
/*-- Header Top Bar --*/
#header-bar {
    justify-items: normal;
    background: var(--dark-theme-header-color);
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
}

/*-- First Container --*/
.header-container-left {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: start;
    margin: 15px;
    padding: 10px;
    flex-grow: 1;
}
/*-- Title (in first container) --*/
#header-title {
    font-size: 5dvw;
}
/*-- Second Container --*/
.header-container-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-content: space-evenly;
    flex-grow: 1;
    margin: 15px;
    padding: 10px;
    font-size: 2dvw;
}


/*-- BODY STYLING --*/
/*-- Main styling properties --*/
#main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*-- First container --*/
.body-container-upper {
    margin: 15px;
    padding: 10px;
}

/*-- Second Container --*/
.body-container-lower {
    margin: 15px;
    padding: 10px;
}

/*-- Titles --*/
.body-title {
    font-size: 7dvw;
}
/*-- Praragraphs --*/
.body-text {
    font-size: 5dvh;
}

/*-- Footer --*/
#licensing {
    margin: 15px;
    padding: 10px;
    text-align: center;
    font-size: 0.8dvw;
    font-weight: bolder;
    color: #a3a3a3;
}

/*-- MISCELLANIOUS --*/
#image-cv {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    width: 75%;
    height: auto;
    border-radius: 10px;
    padding: 15px;
}

/*-- MOBILE DEVICES SPECIFIC RULES --*/
/*-- Galaxy Z fold Form Factor --*/
@media only screen and (max-width: 768px) {
    /*-- HEADER STYLING --*/
    /*-- Header Top Bar --*/
    #header-bar {
        background: var(--dark-theme-header-color);
        border-radius: 10px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
    }
    /*-- Title (in first container) --*/
    #header-title {
        font-size: 0dvh;
    }
    
    #header-icon {
        flex-grow: 1;
        width: auto;
        height: auto;
    }
    /*-- First Container --*/
    .header-container-left {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: start;
        flex-grow: 1;
    }
    /*-- Second Container --*/
    .header-container-right {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-evenly;
        font-size: 2.15dvw;
        flex-grow: 1;
    }

    /*-- BODY STYLING --*/
    /*-- Main styling properties --*/
    .main-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    /*-- First container --*/
    .body-container-upper {
        margin: 15px;
        padding: 10px;
    }
    /*-- Title (in first container) --*/
    .body-title {
        font-size: 5dvh;
    }
    /*-- Praragraph (in first container) --*/
    .body-text {
        font-size: 1.5dvh;
    }

    /*-- Second Container --*/
    .body-container-lower {
        margin: 15px;
        padding: 10px;
    }

    #body-second-title {
        font-size: 5dvh;
    }
    
    /*-- Footer --*/
    #licensing {
        margin: 15px;
        padding: 10px;
        text-align: center;
        font-size: 2dvw;
        font-weight: bolder;
        color: #a3a3a3;
    }

    /*-- MISCELLANIOUS --*/
    #image-cv {
        border-radius: 10px;
        padding: 15px;
        max-width: fit-content;
    }
}
/*-- classic phone / tablet form factor --*/
@media only screen and (min-width: 769px) and (max-width: 720px) {
    /*-- HEADER STYLING --*/
    /*-- Header Top Bar --*/
    #header-bar {
        size: 15dvh;
        background: var(--dark-theme-header-color);
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
    }
    /*-- First Container --*/
    .header-components-1 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-items: start;
        padding: 5px;
        flex-grow: 1;
    }
    /*-- Title (in first container) --*/
    #header-title {
        font-size: 4dvw;
    }
    /*-- Second Container --*/
    .header-components-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        align-content: space-evenly;
        padding: 10px;
        font-size: 2dvw;
    }


    /*-- BODY STYLING --*/
    /*-- Main styling properties --*/
    .main-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    /*-- First container --*/
    .body-container-1 {
        margin: 15px;
        padding: 10px;
    }
    /*-- Title (in first container) --*/
    .body-title {
        font-size: 5dvw;
    }
    /*-- Praragraph (in first container) --*/
    .body-text {
        font-size: 2dvw;
    }

    /*-- Second Container --*/
    .body-container-2 {
        margin: 15px;
        padding: 10px;
    }
    /*-- Footer --*/
    #licensing {
        margin: 15px;
        padding: 10px;
        text-align: center;
        font-size: 2dvw;
        font-weight: bolder;
        color: #a3a3a3;
    }
    /*-- MISCELLANIOUS --*/
    #image-cv {
        border-radius: 10px;
        padding: 15px;
        max-width: fit-content;
    }
}

/*-- LIGHT MODE TOGGLE --*/
.light-mode {
    background: var(--light-theme-background-color);
    color: var(--light-theme-text-color);
}

/*-- DARK MODE TOGGLE --*/
.dark-mode {
    background: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
}